[submodule "DonationReminder"]
	path = DonationReminder
	url = http://github.com/tkurita/DonationReminder.git
[submodule "NSRunningApplication-SmartActivate"]
	path = NSRunningApplication-SmartActivate
	url = http://github.com/tkurita/NSRunningApplication-SmartActivate.git
[submodule "StringExtra"]
	path = StringExtra
	url = http://github.com/tkurita/StringExtra.git
