<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomTitle</key>
	<string>* Inferior Terminal *</string>
	<key>DonationURL</key>
	<string>http://homepage.mac.com/tkurita/scriptfactory/donationproxy.html</string>
	<key>ExecutionString</key>
	<string>unset PROMPT_COMMAND</string>
	<key>ModeDefaults</key>
	<array>
		<dict>
			<key>command</key>
			<string>octave</string>
			<key>mode</key>
			<string>Octave</string>
			<key>prompt</key>
			<string>(octave:\d+)?&gt;</string>
		</dict>
		<dict>
			<key>command</key>
			<string>perl -w</string>
			<key>mode</key>
			<string>Perl</string>
			<key>prompt</key>
			<string>\s+((DB&lt;\d+&gt;)|(cont:\s+))</string>
		</dict>
		<dict>
			<key>command</key>
			<string>gnuplot</string>
			<key>mode</key>
			<string>gnuplot</string>
			<key>prompt</key>
			<string>(gnuplot)?&gt;</string>
		</dict>
		<dict>
			<key>command</key>
			<string>bash</string>
			<key>mode</key>
			<string>bash</string>
			<key>prompt</key>
			<string>.*\$\s</string>
		</dict>
	</array>
	<key>backslash</key>
	<string>\</string>
	<key>useExecCommand</key>
	<true/>
	<key>yenmark</key>
	<string>¥</string>
</dict>
</plist>
