<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Japanese</string>
	<key>CFBundleExecutable</key>
	<string>TerminalBridge</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_VERSION} ${COPYRIGHT}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>TerminalBridgeHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>Scriptfactory.TerminalBridge.help</string>
	<key>CFBundleIconFile</key>
	<string>TerminalBridge.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TerminalBridge</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${PRODUCT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>DonationURL</key>
	<string>http://www.script-factory.net/donationproxy.html</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>${COPYRIGHT}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OSAScriptingDefinition</key>
	<string>TerminalBridge.sdef</string>
</dict>
</plist>
